/* reset */
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
html,button,input,select,textarea{font-family:'Lato',sans-serif}
body{margin:0}
a:focus,a:active,a:hover,input,select,textarea,button{outline:0}
b,strong{font-weight:700}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure,form{margin:0}
fieldset{border:0 none;margin:0;padding:0}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{padding:0;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],html input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ol,ul,li,object,iframe{margin:0;padding:0}
ol,ul{list-style-type:none}
.clear{clear:both;}

html,
body{
    height:100%;
}

/* FONTS */

body{
	font-size:62.5%;
	background-color:#f9f9f9;
}

h1{
	margin:0 0 20px;
	font-size:300%; /* 30 */
	line-height:113.3333333333333%; /* 34 / 30 * 100 */
}

h2{
	margin:0 0 15px;
	font-size:250%; /* 32 */
	line-height:normal;
}

h3,
dt{
	margin:0 0 10px;
	line-height:normal;
	font-size:190%; /* 19 */
}

p{
	font-size:160%; /* 16 */
    line-height:137.5%; /* 22 / 16 * 100 */	
	margin:0 0 10px;
}

/* STRUTTURA */

#page{
	margin-bottom:50px;
	padding-top:50px;
}

.container{
	padding:20px 6.25%;
	background:#f0f0f0;

	-webkit-transition: -webkit-transform .5s;

	transition: transform .5s;
	transition-timing-function: cubic-bezier(0.89,.005,.545,1);	
}

.left{
	width:100%;
}

.col{
	width:100%;
}

.right{
	width:100%;
}

/* ADV */

.adv{
	background:#adadad;
}

.expanding{
	position: fixed;
	bottom: -50px;
	left: 0;
	margin: 0;
	width: 100%;
	background: #FFF;
	overflow: hidden;
	box-shadow: 0px -3px 3px 0px rgba(50, 50, 50, 0.75);

	z-index: 99;

	-webkit-transition: bottom .5s;
	
	transition: bottom .5s;
	transition-timing-function: cubic-bezier(0.89,.005,.545,1);
}

.expanding.visible{
	bottom:0;
}

.strip{
	margin:0 auto;
	width:300px;
	height:50px;
}

.box300250{
	margin-left:-3.125%;
	width:300px;
	background:#adadad;
}

.box300250#gpt-container-mobile-1{
	margin-left:-7.142857142857143%;
	padding:10px 0 0;
	width:114.2857142857143%;
}

.col .box300250#gpt-container-mobile-1{
	margin-bottom:30px;
}

.box300250#gpt-container-mobile-1 .adv{
	margin:0 auto;
	background:#f0f0f0;
}

/* BOX SPECIALI */

.speciali{
	overflow:hidden;
}

.speciali dt{
	font-weight:700;
	text-align:center;
	background:url(images/bg-h3-sez.png) 0 center repeat-x;
}

.speciali dt span{
	padding:0 20px;
	background:#f0f0f0;
}

.speciali dd{
	margin:0 5px 11px;
	padding:0 0 10px;
	border-bottom:1px solid #bfbfbf;
	overflow:hidden;
	position:relative;
}

.speciali dd:last-of-type{
	margin:0 5px;
	padding:0;
	border-bottom:0 none;
}

.speciali .i{
	float:left;
	margin-right:10px;
	width:120px;
}

.speciali .i img{
	display:block;
	max-width:100%;
}

.speciali .t{
	display:block;
	font-size:140%;
	font-weight:700;
}

.speciali .s{
	position:absolute;
	bottom:10px;
	right:0;
	width:calc(100% - 130px);
	text-align:right;
}

.speciali dd:last-of-type .s{
	bottom:0;
}

.speciali .s:before{
	content:'offerto da:';
	position:absolute;
	left:10px;
	top:50%;
}

@media only screen and (min-width: 321px){

	.box300250{
		margin:0 auto;
	}

	.box300250#gpt-container-mobile-1{
		padding:20px 0 0;
	}	

	.speciali .i{
		margin:0 10px;
	}

	.speciali .s{
		width:70px;
		right:10px;
	}	

	.speciali .s:before{
		content:'offerto da:';
		position:absolute;
		left:-70%;
		top:50%;
	}	

}

@media only screen and (min-width: 568px){

	.container{
		padding:20px;
	}

	.col{
		float:left;
		width:56.92599620493359%; /* 300 */
	}

	.col:nth-of-type(2){
		float:right;
		width:39.27893738140417%;
	}

	.box300250#gpt-container-mobile-1{
		margin-left:-20px;
		width:calc(100% + 40px);
	}

	.col .box300250#gpt-container-mobile-1{
		margin:0 auto 30px;
		padding:0;
		width:300px;
	}

	.speciali .t{
		padding-top:10px;
		font-size:160%;
	}

}

@media only screen and (min-width: 740px){

	h1{
		font-size:500%; /* 50 */
		line-height:108%; /* 54 / 50 * 100 */
	}

	h2{
		font-size:320%; /* 32 */
		line-height:normal;
	}

	h3{
		font-size:190%; /* 19 */
		line-height:normal;
	}

	p{
		font-size:160%; /* 16 */
	    line-height:137.5%; /* 22 / 16 * 100 */	
	}

	/* STRUTTURA */

	#page{
		margin-bottom:0;
	}	

	.container{
		padding:30px 50px;
	}	

	.col{
		width:60.69802731411229%; /* 400 */
	}

	.col:nth-of-type(2){
		width:31.71471927162367%;
	}	

	/* ADV */

	.expanding{
		position:static;
		margin:10px 0;
		background:transparent;
		box-shadow:0 0 0;
	}

	.strip{
		width:728px;
	}

	.box300250#gpt-container-mobile-1{
		margin-left:-50px;
		width:calc(100% + 100px);
	}	

}

@media only screen and (min-width: 950px){

	/* STRUTTURA */

	#page{
		padding-top:0;
	}

	.sw{
		margin:0 auto;
		max-width:1000px;
		position:relative;
	}	

	.container{
		padding:3.333333333333333% 2.5%; /* 40 30 40 */
		overflow:hidden;
	}

	.left{
		float:left;
		width:65.78947368421053%; /* 750 / 1140 */
	}

	.col{
		width:48%; /* 400 */
	}

	.col:nth-of-type(2){
		width:48%;
	}		

	.right{
		float:right;
		width:31.57894736842105%; /* 360 / 1140 */
		position:relative;
	}

	.box300250{
		position:absolute;
  		top:0;
  	}

  	.box300250#gpt-container-mobile-1{
  		position:static;
  		margin:0;
  		padding:0;
  		width:0;
  		height:0;
  		overflow:hidden;
  	}

  	#jump{
  		margin-top:1000px;
  	}

  	.speciali{
  		padding-bottom:20px;
  		border-bottom:1px solid #adadad;
  	}

	.speciali .t{
		padding-top:0;
		font-size:150%;
	}  	

}

@media only screen and (min-width: 1025px){

	body{
		background-image:url(images/skin.png);
		background-size:1472px auto;
		background-position:center 120px;
		background-repeat:no-repeat;
	}	

	.expanding{
		margin:20px 0;
	}

}

@media only screen and (min-width: 1540px){

	body{
		font-size:75%;
		background-size:1768px auto;
	}	

	/* FONTS */

	h1{
		margin:0 0 24px;
	}

	h2{
		margin:0 0 18px;
	}

	h3{
		margin:0 0 12px;
	}

	p{
		margin:0 0 12px;
	}	

	/* STRUTTURA */

	.sw{
		max-width:1200px;
	}

	/* ADV */

	.expanding{
		margin:29px 0;
	}

	.box300250{
		padding:30px;
		background:#bfbfbf;
	}	

}