#nhbzm{
	position:fixed;	
	top:-57px;
	left:0;
	width:100%;
	height:50px;
	background:#adadad;

	z-index:100;

	-webkit-transition: all .5s;

	transition: all .5s;	
	transition-timing-function: cubic-bezier(0.89,.005,.545,1);
}

#nhbzm.visible{
	top:0;
}

#nhbzm .sw{
	height:100%;
	position:relative;
}

.nh_logo{
	float:left;
	margin:0 0 0 71px;
	width:104px;
	height:100%;
	background:url(images/logo.png) 0 center no-repeat;
	background-size:104px 30px;
	position:relative;
}

.nh_logo a{
	display:block;
	height:100%;
	text-indent:-9999em;
}

.nh_logo:before{
	content:'';
	position:absolute;
	top:10px;
	left:-15px;
	width:1px;
	height:30px;
	background:#ececec;	
}

.nh_menu_handle{
	position: absolute;
	top: 10px;
	left: 0;
	padding: 21px 10px 0;
	width: 36px;
	height: 9px;
	font-family: 'Roboto';
	font-size: 9px;
	color: #ececec;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: url(images/nsh_hamburger.png) center 1px no-repeat;
}

.nh_network_handle{
	float:right;
	position:relative;
	width:44px;
	height:50px;
	text-indent:-9999em;
	background:url(images/nsh_network.png) center center no-repeat;	
}

.nh_network_handle:before{
	content:'';
	position:absolute;
	top:10px;
	left:-1px;
	width:1px;
	height:30px;
	background:#ececec;
}

.nh_search_handle{
	float:right;
	width:48px;
	height:50px;	
	text-indent:-9999em;
  	background: url(images/nsh_lente.png) center center no-repeat;
}

#nnbzm{

	position:fixed;
	top:0;
	width:100%;
	height:100%;
	background:#a1a1a1;
	z-index:101;
	overflow-y:auto;
	
	-webkit-transform: translate(-100%,0);
	-webkit-transition: -webkit-transform .5s;

	transform: translate(-100%,0);
	transition: transform .5s;
	transition-timing-function: cubic-bezier(0.89,.005,.545,1);
}

#nnbzm ul{
	margin:0 6.25%;
	font-size:160%;
	font-weight:bold;
	line-height:368.75%; /* 59 / 16 * 100 */
	text-transform:uppercase;

}

#nnbzm li {
	padding:0 20px;
	border-bottom:1px solid #444;
}

.nh_menu_close_handle{
	position: absolute;
	top: 5px;
	right: 20px;
	padding: 32px 0 0;
	width: 36px;
	height: 18px;
	font-family: 'Roboto';
	font-size: 9px;
	color: #FFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: url(images/nh_hamburger_chiudi_mobile.png) center 10px no-repeat;
	background-size: 18px;
}

/* CASSETTO */

body.nnbzm_open{
	position:absolute;
	width:100%;
	max-height:100%;
	overflow:hidden;
}

.nnbzm_open #nhbzm{
	-webkit-transform: translate(100%,0);
	transform: translate(100%,0);

}

.nnbzm_open #nnbzm{
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}

.nnbzm_open #container{
	-webkit-transform: translate(100%,0);
	transform: translate(100%,0);
}

@media only screen and (min-width: 950px){

	#nhbzm.tall{
		height:70px;
	}

	.nh_logo,
	.nh_logo:before,
	.nh_menu_handle,
	.nh_search_handle,
	.nh_network_handle,
	.nh_network_handle:before{
		-webkit-transition: all .5s;

		transition: all .5s;	
		transition-timing-function: cubic-bezier(0.89,.005,.545,1);
	}

	.tall .nh_logo{
		width:125px;
		background-size:125px 36px;
		background-position:0 center; 
	}

	.tall .nh_logo:before{
		top:17px;
		height:36px;
	}	

	.tall .nh_menu_handle{
		top:19px;
	}

	.tall .nh_network_handle,
	.tall .nh_search_handle{
		height:70px;
	}

	.tall .nh_search_handle{
		width:50px;
	}

	.tall .nh_network_handle{
		width:48px;
	}

	.tall .nh_network_handle:before{
		top:17px;
		height:36px;
	}

	#nnbzm{
		position:static;
		padding-top:70px;
		width:100%;
		height:50px;
		background:#a1a1a1;
		overflow:hidden;	
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}

	#nnbzm ul{
		margin:0 auto;
		max-width:1000px;
		position:relative;
	}	

	#nnbzm li {
		float:left;
		padding:0 13px;
		line-height:50px;
		border-bottom:1px solid #444;
	}	

}

@media only screen and (min-width: 1540px){

	#nnbzm ul{
		max-width:1200px;
	}	

}