figure{
	margin-bottom:10px;
	padding-top:10px;
	overflow:hidden;
}

figure img{
	display:block;
	width:100%;
}

figcaption{
	padding:0 10px;
	font-size:130%;
	line-height:153.8461538461538%;
}

figcaption b{
	display:block;
	margin:10px 0;
	font-size:115.3846153846154%; /* 15 / 13 * 100 */
}

figcaption em{
	display:block;
	margin:5px 0 0;
	font-size:92.30769230769231%; /* 12 / 13 * 100 */
}

figure.cover{
	margin-left:-7.142857142857143%;
	margin-bottom:0;
	padding-top:0;
	width:114.28571428571429%;
}

.infos{
	margin-left:-7.142857142857143%;
	margin-bottom:15px;
	padding:15px 7.142857142857143%;
	width:100%;	
	font-size:150%; /* 14 */
	line-height:133.3333333333333%; /* 20 / 15 * 100 */
	background:#adadad;
	border-bottom:1px solid #444;
}

.infos strong{
	float:right;
}

.infos li{
	padding:10px 15px 9px 45px;
	background-image:url(http://www.cookaround.com/style/images/r-infos.png);
	background-repeat:no-repeat;
	border-bottom:1px solid #cfd1d4;
}

.infos li.luogo{
	padding-left:10px;
	background-image:url();
}

.infos li.yield{
	background-position:10px 7px
}

.infos li.difficolta{
	background-position:10px -31px
}

.infos li.preptime{
	background-position:10px -69px
}

.infos li.cooktime{
	background-position:10px -107px
}

.infos li.costo{
	background-position:10px -142px
}

.infos li.reperibilita{
	background-position:10px -184px
}

.infos li:last-of-type{
	padding-bottom:0;
	border:0 none;
}

.ingredients{
	margin-bottom:15px;
	line-height:214.2857142857143%; /* 30 / 14 * 100 */
}

.ingredients dt{
	font-weight:700;
	text-align:center;
	background:url(images/bg-h3-sez.png) 0 center repeat-x;
}

.ingredients dt span{
	padding:0 20px;
	background:#f0f0f0;
}

.ingredients dd{
	padding-left:18px;
	font-size:120%; /* 12 */
	line-height:183.3333333333333%; /* 22 / 12 * 100 */
	background:url(images/ingr-dot.png) 5px center no-repeat;
}

.ingredients dd a{
	font-size:116.6666666666667%; /* 14 / 12 * 100 */
}

.gallery{
	margin-bottom:15px;
	overflow:hidden;
}

.gallery dt{
	float:left;
	margin-bottom:15px;
	width:100%;
	font-weight:700;
	text-align:center;
	background:url(images/bg-h3-sez.png) 0 center repeat-x;
}

.gallery dt span{
	padding:0 20px;
	background:#f0f0f0;
}

.gallery dd{
	float:left;
	margin-bottom:7.142857142857143%;
	width:46.42857142857143%;

}

.gallery dd:nth-child(2n+0){
	float:right;
}

.gallery dd:nth-last-child(-n+2){
	margin-bottom:0;
}

.gallery img{
	display:block;
	width:100%;
}

@media only screen and (min-width: 480px){

	figure{
		padding-top:20px;
		margin-bottom:30px;
	}

	figcaption{
		padding:30px 0 0;
		font-size:130%;
		line-height:153.8461538461538%;
	}

	figure img{
		float:left;
		margin-right:5%;
		width:60%;
	}

	figure.cover{
		padding-top:0;
		margin-bottom:0;
	}	

	figure.cover img{
		float:none;
		width:100%;
	}		

	.ingredients{
		overflow:hidden;
	}

	.ingredients dd{
		float:left;
		padding-left:15px;
		width:calc(30% - 15px);
		background-position:5px 8px;
	}

	.ingredients dd:nth-child(3n+0){
		margin:0 4.5%;
	}

	.ingredients dd a{
		display:block;
	}

}

@media only screen and (min-width: 568px){

	figure.cover{
		margin-left:-20px;
		width:calc(100% + 40px);
	}

	.infos{
		margin-left:-20px;
		padding:15px 20px;
		width:100%;	
	}

}	

@media only screen and (min-width: 640px){

	.gallery dd{
		margin:0 1.785714285714286% 1.785714285714286% 0;
		width:23.66071428571429%;
	}

	.gallery dd:nth-child(2n+0){
		float:left;
	}	

	.gallery dd:nth-child(4n+1){
		margin-right:0;
	}

}

@media only screen and (min-width: 760px){

	figure.cover{
		margin-left:-50px;
		width:calc(100% + 100px);
	}

	.infos{
		margin-left:-50px;
		padding:15px 50px;
		width:100%;	
	}	

}

@media only screen and (min-width: 950px){

	figure.cover{
		margin-left:-4%;
		width:104%;
	}

	.infos{
		margin-left:-4%;
		padding:15px 4%;
		width:96%;	
		background:transparent;
		border:0 none;
	}

	.ingredients{
		padding-top:20px;
		margin-bottom:30px;
	}		

}