figure img{
	display:block;
	width:100%;
}

article{
	margin:0 0 30px;
	width:100%;
}

article figure{
	position:relative;
	margin-bottom:10px;
}

article figure span{
	position:absolute;
	bottom:0;
	left:0;
	padding:0 12px;
	font-size:140%;
	line-height:242.8571428571429%; /* 34 / 14 * 100 */
	color:#f9f9f9;
	text-transform:uppercase;
	background:#2d2d2d;
}

article figure span:after{
	content: '';
	position:absolute;
	top:100%;
	left:50%;
	margin-left:-13px;
	width:27px;
	height:8px;
	background:url(images/listing-cat.png) 0 0 no-repeat;
}

article p a.continua{
	display:block;
}

article p a.continua:after{
	content:' \00bb';
}

article footer p{
	font-size:110%;
}

@media only screen and (min-width: 568px){

	.col:nth-of-type(2){
		padding:15px 0;
		background:#c9c9c9;
	}

	.col:nth-of-type(2) article{
		padding:0 15px;
		width:auto;
	}

	.col:nth-of-type(2) article figure span{
		padding:0 12px;
		font-size:100%;
		line-height:242.8571428571429%; /* 34 / 14 * 100 */
		color:#f9f9f9;
		text-transform:uppercase;
		background:#2d2d2d;
	}	

	.col:nth-of-type(2) h1{
		margin:0 0 10px;
		font-size: 200%;
  		line-height: 108%;
	}	

	.col:nth-of-type(2) p{
		font-size: 140%;
	}	

}

@media only screen and (min-width: 950px){

	.col:nth-of-type(1) h1{
		margin-bottom:10px;
		font-size:300%;
	}	

	.col:nth-of-type(2){
		padding:4% 0;
	}

	.col:nth-of-type(2) article{
		padding:0 8.333333333333333%;
		width:auto;
	}

}